body{
  background-color:#3052e7 ;
}
.centro {
  text-align: center;
  color: white;
}
 .c{
  text-align: center;
 }
.centralizar{
  display: flex;          
  align-items: center;    
  color: rgb(63, 51, 51);
}
.tipo{
  color: black;
  height: 0px;
  width: 0px;
  background-color: rgb(119, 101, 101);
}
.branco{
  background-color: rgb(138, 138, 138);
}
div {
  margin-bottom: 10px;
}
input::placeholder {
  color: slategrey;
}
.m{
  margin-left: 300px;
  margin-right: 300px;
}

.button {
  background-color: #04AA6D; /* Green */
  border: none;
  color: white;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
}
.button5:hover {
  background-color: #555555;
  color: white;
}